<% @page_title = 'list user' %>
<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<%= link_to("Back",{:action => 'index'}, :class => 'back-link') %>
<div class ="user show add_user">
	<%= link_to("Assigned",{ :controller => 'task',:action => 'index',:id=> @users.id },:class => 'action new') %>
	<%= link_to("Screenshots",{ :controller => 'screen_shot',:action => 'show',:id=> @users.id },:class => 'action new') %>
	<h2>User</h2>
	<table class="" summary="User detail view">
		<tr>
			<th>First Name</th>
			<td><%= @users.first_name %></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= @users.last_name %></td>
		</tr>
		<tr>
			<th>User Name</th>
			<td><%= @users.user_name %></td>
		</tr>
		<tr>
			<th>User Email</th>
			<td><%= @users.email %></td>
		</tr>
		<tr>
			<th>Is Active</th>
			<td><%= @users.is_active ? 'yes' : 'No' %></td>
		</tr>
		<tr>
			<th>Created at </th>
			<td><%= @users.created_at %></td>
		</tr>
	</table>
</div>


