<% @page_title = 'team' %>
<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>


<div class="team index">
	<h2>Teams</h2>
	<%= link_to(" Add Team",{ :action => 'new' },:class => 'action new') %>
	<table class="listing" summary ="User list">
		<tr class ="header">
			<th>Team</th>
			<th>Description</th>
			<th>Operations</th>
		</tr>
		<% @teams.each do |team| %>
		 <tr>
		 	<td><%= team.team_name%></td>
		 	<td><%= team.description%> </td>
		 	<td>
		 		<%= link_to("Show",{ :action => 'show', :id => team.id}, :class => 'action show') %>
		 		<%= link_to("Edit",{ :action => 'edit', :id => team.id}, :class => 'action edit') %>
		 		<%= link_to("Delete",{ :action => 'delete', :id => team.id }, :class => 'action delete') %>
		 	</td>
		 </tr>
		 <% end %>
	</table>
	<div class="apple_pagination">
    	<%= will_paginate @teams, :page_links => true %>
  	</div>
</div>