<!DOCTYPE html>
<html>
	<head>
		<title>Project | <%= @page_title%></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<div class="header">
			<p class="head"> My Tasks</p>
		</div>
		<div class="container">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
